<div class="row">
    <div class="col-md-6">
        <div class="quix-box custom-box">
            <div class="question-number">Question no : 1/100 <span style="float:right">10:50</span>  </div>
            <div class="question-text"style="text-align:justify"> This is My Question ?</div>
            <div class="option-container">
                <div style="text-align:justify" id="0" class="option" [style.animation-delay.s]="1">Myoption A</div>
                <div style="text-align:justify" id="0" class="option"[style.animation-delay.s]="1">Myoption A</div>
                <div style="text-align:justify" id="0" class="option"[style.animation-delay.s]="1">Myoption A</div>
                <div style="text-align:justify" id="0" class="option"[style.animation-delay.s]="1">Myoption A</div>
            </div>
            <div  align="center">
                <button type="button" class="btn">Next</button>
            </div>
            <div class="answer-indicator">
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
            </div>

        </div>
        <div class="result-box custom-box"style="height:100vh;">
             <h1>Quize Result</h1>
             <table>
                 <tr>
                     <td>Total Question</td>
                     <td>100</td>
                 </tr>
                 <tr>
                    <td>Currect Answer </td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Wrong Answer </td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>precentage </td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>Time </td>
                    <td>12:22</td>
                </tr>
             </table>
        
        </div>

    </div>
</div>
